@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Mono:wght@300&display=swap');


:root {
 --primary-color-a:aliceblue;
 --primary-bg-color: orange;
 --primary-dark: rgba(2,0,3, .5);

}

body {
  
  font-family: 'Quicksand', sans-serif;
  

}
/*--- navbar ---*/
.logo {
   border: 1px solid var(--primary-color-a);
   width: 3.75rem;
   
}
nav > a > .nav-link {
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  
}

.navbar-nav > li > a {
  margin-right: 0.75rem ;
  margin-left: 0.75rem ;
  color:var(--primary-color-a) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding:0 !important;
  height: 6rem !important;
}

.nav-link {   
  letter-spacing:0.031rem;
  cursor: pointer;
}

.navbar-nav > li >a.active,
.navbar-nav > li >a.active:focus {
  border-top: 0.1875rem solid var(--primary-bg-color);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-bg-color);
}





